* {
    box-sizing: border-box;
}

body {
    text-align: center;
    font-family: "Comic Sans","Comic Sans MS","Chalkboard","ChalkboardSE-Regular","Marker Felt","Purisa","URW Chancery L",cursive!important;
}

#wrapper {
    padding: 30px 60px;
}

#logo {
    text-indent: -9999px;
    width: 100%;
    height: 90px;
    margin: 20px auto 40px auto;
    background: url('/i/logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.going-places {
    margin: 0 auto !important;
    float: none !important;

    button {
        width: 25%;
        margin-left: 5%;
    }

    input[type=url], button {
        font-family: "Comic Sans","Comic Sans MS","Chalkboard","ChalkboardSE-Regular","Marker Felt","Purisa","URW Chancery L",cursive!important;
    }

    input[type=url] {
        display: block;
        width: 70%;
        height: auto;
        float: left;
        font-size: 32px;
        line-height: 32px;
        padding: 10px 0 3px 10px;
        border-width: 3px;

        &:focus {
            color: #007998;
            border-color: #007998;
        }
    }
}

.social-icons {
    margin: 40px auto !important;
    float: none !important;
}

.coin-dispenser {
    margin: 20px auto !important;
    float: none !important;
}

.explain {
    text-align: center;
    font-size: 1.25em;
    margin-bottom: 1em;
}


.btn-primary {
    white-space: nowrap;
    font-size: 30px;
    padding: 18px 20px 21px;
}

.extras {
    padding: 50px 0 0 0;
    border-top: dashed 2px #D7DCDD;
    margin: 60px 0 30px 0;
}

.suggestions {
    padding: 10px 20% 0 0;
    margin-bottom: 20px;

    ul {
        margin: 0 0 20px 0;
    }

    li {
        margin-bottom: 10px;
    }

    ul, li {
        list-style: none;
        font-weight: bold;
        line-height: 19px;
        font-size: 19px;
    }

    h3 {
        width: 60%;
        margin: 0 auto 0.5em auto;
        font-weight: bold;
    }
}

.notice {
    background: #96fee8;
    border: 2px dashed #4ddeff;
    padding: 3px 0;
    color: #333;
}

h2 {
    text-align: center;
    margin: 0 0 20px 0;
}

.well {
    padding: 20px 5%;
    text-align: left;

    h3 {
        margin-bottom: 0.5em;
    }

    .span6 {
        width: 48%;
        padding-right: 10%;
        float: left !important;
    }

    .span6 + .span6 {
        padding: 0 0 0 10%;
        border-left: dashed 2px #E99E00;
    }
}

.control-group {
    margin: 0;
    padding: 0 0 10px 0;
}

.scope {
    label {
        display: inline;
    }

    input[type=radio] {
        display: inline-block;
        margin-left: 10px;
    }
}

.disclaimer {
    color: #A4AFB5;
    font-size: 12px;
    padding: 40px 0 0 0;
    border-top: dashed 2px #D7DCDD;
    margin-top: 30px;
    text-align: left;

    strong {
        color: #475860;
    }

    em {
        font-style: normal;
    }
}

.well {
    border: 2px solid #ffaa42;
    background: #fee65e;
}

.extras .well ul {
    list-style-type: square;
    margin: 0 0 9px 17px;
    font-size: 14px;

    a {
        padding: 2px;
        display: block;
    }
}

#tip {
    padding: 10px;

    #doge-address {
        display: none;
    }
}

.social-icons {
    margin: 0 auto;
}

@media only screen and (max-width: 1024px) {
    #wrapper {
        padding: 20px;
    }
    
    .suggestions {
        padding: 0;

        h3 {
            width: auto;
        }
    }

    .going-places {
        min-width: 570px;
    }

    .extras > .span5, .extras > .span7 {
        margin-left: 0;
    }
}

@media only screen and (max-width: 640px) {
    #wrapper {
        padding: 5px;
    }
    
    body {
        text-align: center;
    }

    .well {
        min-height: auto;

        .span6, .span6 + .span6 {
            width: 100%;
            border-left-width: 0;
            padding: 10px 0;
        }
    }

    .extras > .span5, .extras > .span7 {
        clear: both;
        width: 100%;
    }
    
    .going-places {
        width: 100%;
        min-width: 300px;

        input[type=url] {
            display: block;
            width: 100%;
            float: none;
        }

        button {
            width: 100%;
            margin-left: 0;
        }
    }
}