* {
    box-sizing: border-box;
}

body {
    text-align: center;
    font-family: "Comic Sans","Comic Sans MS","Chalkboard","ChalkboardSE-Regular","Marker Felt","Purisa","URW Chancery L",cursive!important;
}

#wrapper {
    padding: 30px 60px;
}

#logo {
    text-indent: -9999px;
    width: 100%;
    height: 90px;
    margin: 20px auto 40px auto;
    background: url('/i/logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.going-places {
    button {
        width: 25%;
        margin-left: 5%;
    }

    input[type=url], button {
        font-family: "Comic Sans","Comic Sans MS","Chalkboard","ChalkboardSE-Regular","Marker Felt","Purisa","URW Chancery L",cursive!important;
    }

    input[type=url] {
        display: block;
        width: 70%;
        height: auto;
        float: left;
        font-size: 32px;
        line-height: 32px;
        padding: 10px 0 3px 10px;
        border-width: 3px;

        &:focus {
            color: #007998;
            border-color: #007998;
        }
    }
}

.social-icons {
    margin: 40px auto 0 !important;

    > * {
        display: inline !important;
    }
}

.coin-dispenser {
    margin: 40px auto 0 !important;

    > a {
        @include border-radius(30px);

        padding-right: 65px;

        font-size: 25px;

        border-color: #AF7700;
        background: #FDAE05 url(../i/dogecoin.png) no-repeat 100% 0;

        &:hover {
            border-color: #000;
        }
    }
}

.much-blog {
    a {
        line-height: 25px;
    }
}

.explain {
    text-align: center;
    font-size: 1.25em;
    margin-bottom: 1em;
}


.btn-primary {
    white-space: nowrap;
    font-size: 30px;
    padding: 18px 20px 21px;
}

.extras {
    padding: 50px 0 0 0;
    border-top: dashed 2px #D7DCDD;
    margin: 30px 0 30px 0;

    .notice > span {
        background: #eee;
        border: 1px solid #333;
        padding: 0px 3px 1px;;
        letter-spacing: 1px;
    }

    .notice > a {
        margin: 3px 0;
        display: block;
    }
}

#doge-address {
    @include border-radius(3px);

    background: #ccc;
    padding: 5px;
    border: 2px solid #999;

    margin-top: 10px !important;
}

.x-hide {
    display: none;
}

.unfloat {
    float: none !important;
}

.center {
    margin: 0 auto !important;
}

#claim-form {
    @include border-radius(3px);

    padding: 20px;
    margin-top: 20px;

    border: 2px dashed #ccc;
    background: #fff;

    .steps {
        margin: 0;

        > li {
        list-style: none;
            padding: 25px 0 15px;

            border-top: 1px dashed #ccc;

            &:first-child {
                padding-top: 0;
                border: 0 none;
            }
        }
        
        h3 {
            margin-bottom: 10px;
        }
    }

    .how {
        @include border-radius(3px);

        border: 2px dashed #b32017;
        background: #eee;
        padding: 5px;
    }

    .btn {
        background: #2e7bcc;
        color: #fff;
        border: 1px solid #15191a;
        text-shadow: none;
        font-size: 20px;
        padding: 8px 10px;

        &:hover {
            background: #15191a;
        }
    }

    .status-message {
        display: none;

        background: #96fee8;
        border: 2px dashed #4ddeff;
        padding: 4px 0;
        color: #333;
    }
}

.top-sites {
    margin: 10px 20px 40px 0;

    ul {
        margin: 0 0 20px 0;
    }

    li {
        margin-bottom: 10px;
    }

    ul, li {
        list-style: none;
        font-weight: bold;
        line-height: 19px;
        font-size: 19px;
    }

    h3 {
        margin: 0 auto 0.5em auto;
        font-weight: bold;
    }

    td.url a {
        font-weight: bold;
    }
}

.top-doges {
    margin: 10px 20px 20px 0;

    h3 {
        margin: 0 auto 0.5em auto;
        font-weight: bold;
    }

    td.username a {
        font-weight: bold;
    }
}

.notice {
    background: #96fee8;
    border: 2px dashed #4ddeff;
    padding: 4px 0;
    color: #333;
}

h2 {
    text-align: center;
    margin: 0 0 20px 0;
}

.well {
    padding: 20px 5%;
    text-align: left;

    h3 {
        margin-bottom: 0.5em;
    }

    .span6 {
        width: 48%;
        padding-right: 10%;
        float: left !important;
    }

    .span6 + .span6 {
        padding: 0 0 0 10%;
        border-left: dashed 2px #E99E00;
    }

    .span12 {
        margin-left: 0;
    }
}


.main-action {
    .notice {
        display: none;

        > strong {
            color: #ba0925;
        }
    }
}

.control-group {
    margin: 0;
    padding: 0 0 10px 0;
}

.scope {
    label {
        display: inline;
    }

    input[type=radio] {
        display: inline-block;
        margin-left: 10px;
    }
}

.disclaimer {
    color: #A4AFB5;
    font-size: 12px;
    padding: 40px 0 0 0;
    border-top: dashed 2px #D7DCDD;
    margin-top: 30px;
    text-align: left;

    strong {
        color: #475860;
    }

    em {
        font-style: normal;
    }
}

.well {
    border: 2px solid #ffaa42;
    background: #fee65e;
}

.extras .well ul {
    list-style-type: square;
    margin: 0 0 9px 17px;
    font-size: 14px;

    a {
        padding: 2px;
        display: block;
    }
}

#tip {
    padding: 10px;

    #doge-address {
        display: none;
    }
}

.top-sites, .top-doges {
    background: #fff;

    table {
        border: 0 none;
    }

    h3 {
        background: #eee;
        margin: 0;
        border: 2px solid #ddd;
        border-bottom: 0;
        padding: 6px 0 7px;
    }
}


@media only screen and (max-width: 960px) {
    #wrapper {
        padding: 5px;
    }
    
    .extras > .span5, .extras > .span7 {
        margin-left: 0;
    }

    .top-sites, .top-doges {
        margin-right: 0;

        h3 {
            width: auto;
        }
    }
    
    body {
        text-align: center;
    }

    .well {
        min-height: auto;

        .span6, .span6 + .span6 {
            width: 100%;
            border-left-width: 0;
            padding: 10px 0;
        }
    }

    .extras > .span5, .extras > .span7 {
        clear: both;
        width: 100%;
    }

    .main-action {
        > .span8 {
            clear: both;
            width: 100%;
        }
    }
    
    .going-places {
        width: 100%;
        min-width: 300px;

        input[type=url] {
            display: block;
            width: 100%;
            float: none;
        }

        button {
            width: 100%;
            margin-left: 0;
        }
    }

    .coin-dispenser {
        width: 100%;

        a {
            display: block;
        }
    }
}