table.list {
	width: 100%;

	font-size: 15px;

	th {
		background-color: #2e7bcc;
		color: #FFF;
		font-weight: normal;
		padding: 7px;

		&:hover, &.active {
			background-color: #296db5;
		}
	}

	td {
		border: 0 none;
		border-bottom: 2px solid #eee;
		color: #666;

		ul {
			list-style: square;
		}

		&:first-child {
			border-left: 2px solid #eee;
		}

		&:last-child {
			border-right: 2px solid #eee;
		}
	}

	tr {
		&.featured td {
			background: #f9f8d7;
		}

		&:hover, &.active {
			background: #f9f8d7;
		}
	}
}