html.t-default {
	#wrapper {
        position: relative;
        width: 100%;
        overflow-x: hidden;
	}

	body {
		background: url(../i/doge-a-boo.png) no-repeat -50px -122px;
		background-size: 300px auto;
	}

	&.x--woah body {
		background-image: url(../i/doge-go-woah.png);
	}
}